body,
html,
* {
    font-family: 'Open Sans', sans-serif;
}
#datetime{
    position: absolute;
    right: 0;
}


/* CSS */
.rdvBtn {
    transform: translate(50%, 0%);
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01, sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

@media (min-width: 768px) {
    .rdvBtn {
        padding: 19px 32px;
    }
}

.rdvBtn:before,
.rdvBtn:after {
    border-radius: 80px;
}

.rdvBtn:before {
    background-color: rgba(249, 58, 19, .32);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.rdvBtn:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.rdvBtn:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
}

.rdvBtn:active:not(:disabled) {
    color: #ccc;
}

.rdvBtn:active:not(:disabled):after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.rdvBtn:disabled {
    cursor: default;
    opacity: .24;
}


.message-popup {
    border: 1px solid #ccc;
    border-radius: 20px 20px 0 20px;
    padding: 6px 10px 7px;
    position: absolute;
    right: 6rem;
    bottom: 5rem;
    animation: fadeIn 0.1s;
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    20% {
        opacity: 0;
        transform: scale(.2);
    }

    40% {
        opacity: 0.5;
        transform: scale(.4);
    }

    60% {
        opacity: 0.5;
        transform: scale(.6);
    }

    80% {
        opacity: 0.5;
        transform: scale(.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.chat-icon-container {
    width: max-content;
    position: fixed;
    right: 3rem;
    bottom: 2rem;
    cursor: pointer;
}

.chat-icon {
    height: 56px;
    width: 56px;
}

.chat-icon-close {
    display: none;
    height: 56px;
    width: 56px;
}

.chat-card {
    display: none;
    width: 25rem;
    position: fixed;
    right: 3rem;
    height: 28rem;
    bottom: 6rem;
    box-shadow: 0 7px 6px 1px rgb(0 0 0 / 16%);
    /* display: flex; */
    border: 1px solid #ebebeb;
    flex-direction: column;
}

.chat-card-header {
    background-color: rgb(0 13 82);
    padding: 8px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.chat-container {
    overflow-y: scroll !important;
    height: inherit;
    background-color: white;
}

.chat-avatar {
    height: 32px;
}

.chat-day {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin: 0.5rem 0 1rem 0;
}

.chat-day::before,
.chat-day::after {
    content: '';
    flex: 1 1;
    border-top: 1px solid #ebebeb;
    margin-right: 16px;
    box-sizing: border-box;
}

.avatar {
    height: 36px;
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media>* {
    margin: 0px 10px;
}

.media-chat .media-body p {
    padding: 6px 14px;
    border-radius: 1rem;
    background-color: #f5f6f7;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.media-chat.media-chat-reverse {
    padding-right: 12px;
    flex-direction: row-reverse;
}

.media-chat.media-chat-reverse .media-body p {
    float: right;
    clear: right;
    background-color: #48b0f7;
    color: #fff;
}

.publisher-btn label {
    margin-bottom: 0rem;
}

.border-light {
    border-color: #f1f2f3 !important;
}

.bt-1 {
    border-top: 1px solid #ebebeb !important;
}

.publisher {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 20px;
    background-color: #f9fafb;
}

.publisher>*:first-child {
    margin-left: 0;
}

.publisher>* {
    margin: 0 8px;
}

.publisher-input {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border: none;
    outline: none !important;
    background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #8b95a5;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.file-group {
    position: relative;
    overflow: hidden;
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #cac7c7;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.file-browser {
    cursor: pointer;
}

.publisher-btn:hover {
    color: blue;
}

.file-group input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 20px;
}

.text-info {
    color: #48b0f7 !important;
}

.from-chat {
    width: fit-content;
}

.close-chat {
    display: none;
}

@media only screen and (max-width: 768px) {
    .chat-card {
        width: 100%;
        right: 0;
        height: 100%;
        bottom: 0;
    }

    .close-chat {
        display: block;
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }
}