<!Doctype html>
<html>

<head>

  <link rel="stylesheet" href="../static/css/chatbot.css">
  <link rel="stylesheet" href="../static/css/audioRecord.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
</head>

<body>

  <div class="chat-container">

  </div>
  <div class="message-popup">Bonjour comment puis-je vous aidez? </div>
  <div class="chat-icon-container">
    <img onclick="showChatCard('open')" class="chat-icon" src="../static/images/chatbot.png" alt="">
    <img onclick="showChatCard('close')" class="chat-icon-close" src="../static/images/closeChat.png" alt="">
  </div>


  <div class="chat-card">
    <div class="chat-card-header">
      <img class="chat-avatar" src="../static/images/chatbot.png" alt="">
      <span class="chat-name" style="color: rgb(255, 255, 255);">Chat With Architeo </span>
      <svg onclick="showChatCard('close')" class="close-chat" width="16" height="16" viewBox="0 0 23 23" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" fill="white"
          d="M9.34583 11.2L0.384011 2.23818C-0.128004 1.72617 -0.128004 0.896026 0.384011 0.384011C0.896026 -0.128004 1.72617 -0.128004 2.23818 0.384011L11.2 9.34583L20.1618 0.384011C20.6738 -0.128004 21.504 -0.128004 22.016 0.384011C22.528 0.896026 22.528 1.72617 22.016 2.23818L13.0542 11.2L22.016 20.1618C22.528 20.6738 22.528 21.504 22.016 22.016C21.504 22.528 20.6738 22.528 20.1618 22.016L11.2 13.0542L2.23818 22.016C1.72617 22.528 0.896026 22.528 0.384011 22.016C-0.128003 21.504 -0.128003 20.6738 0.384011 20.1618L9.34583 11.2Z">
        </path>
      </svg>
    </div>
    <div class="audioRec" id="audioRec">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="chat-container" id="chat-content">

      <div id="chat">


        <div class="chat-day">Today 12:17 AM</div>

        <div class="media media-chat from-chat">
          <img class="avatar" src="../static/images/chatbot.png" alt="...">
          <div class="media-body">
            <p>Bonjour comment puis-je vous aidez</p>
          </div>
        </div>

        <!-- <div class="media media-chat media-chat-reverse">
          <div class="media-body">
            <div class="cvContainer">
              <svg class="cv" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
              <path
                d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z" />
            </svg>
            <span>hi hello.pdf</span>
            </div>
            
          </div>
        </div> -->

        <!-- <div class="media media-chat media-chat-reverse">
          <div class="media-body">
            <p>Okay then see you on sunday!!</p>
          </div>
        </div> -->





      </div>
    </div>
    <div class="publisher bt-1 border-light">
      <img class="avatar avatar-xs" src="../static/images/chatbot.png" alt="...">
      <input class="publisher-input" name="usermsg" id="message" type="text" placeholder="Write something">
      <!-- <form id="cvForm"  method = "POST" enctype="multipart/form-data"> -->
      <span class="publisher-btn file-group">
        <div>
          <label for="file-input">
            <i class="fa fa-paperclip file-browser"> </i>
          </label>

          <input id="file-input" type="file" name="file" onchange="previewFile()" style="display: none;" />
          <input type="datetime-local" name="datetime" onchange="changeDate()" id="datetime" hidden />
        </div>


      </span>
      <!-- </form> -->
      <a class="publisher-btn" href="javascript:void(0)" onclick="record()" data-abc="true">
        <i class="fa-solid fa-microphone"></i></a>
      <a class="publisher-btn" id="sendBtn" onclick="send()" name="submitmsg" href="javascript:void(0)"
        data-abc="true"><i class="fa fa-paper-plane"></i></a>
      <a class="publisher-btn" id="sendBtnC" style="display: none;" onclick="filloutC(candItt);candItt++;"
        name="submitmsg" href="javascript:void(0)" data-abc="true"><i class="fa fa-paper-plane"></i></a>
      <a class="publisher-btn" id="sendBtnA" style="display: none;" onclick="filloutA(candItt);candItt++;"
        name="submitmsg" href="javascript:void(0)" data-abc="true"><i class="fa fa-paper-plane"></i></a>
      <a class="publisher-btn" id="sendBtnAudio" style="display: none;" name="submitmsg" href="javascript:void(0)"
        data-abc="true"><i class="fa fa-paper-plane"></i></a>
    </div>
  </div>


</body>
<script>
  var candArr = ['nom', 'ann_exp', 'employeur', 'expertise', 'type', 'email', 'num_tel', 'adresse'];
  var clientArr = ['type', 'nom', 'nbr_pers', 'besoins', 'num_tel', 'email', 'adresse'];
  var candItt = -1;
  var candidatRes = {};
  var clientRes = {};
  var clientService = '';
  var candidatureId = 0;
  var userId = 1;
</script>
<script type="text/javascript" src="../static/js/chatbot.js"></script>
<script type="text/javascript" src="../static/js/recordAudio.js"></script>
<script type="text/javascript" src="../static/js/rdv.js"></script>
<script type="text/javascript" src="../static/js/uploadCv.js"></script>
<script type="text/javascript" src="../static/js/candidature.js"></script>
<script type="text/javascript" src="../static/js/demande.js"></script>

</html>