<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chatbot</title>
</head>

<body>
  <label for="me" style="display: none;">Me : </label>
  <p class="from-me" style="display: none;"></p>
  <label for="chat"></label>
  <p class="from-chat">bien venue</p>
  <input id="message" type="text" name="message">
  <input onclick="sendR()" type="button" value="send">
</body>
<script>
  function sendR() {
    let input = document.getElementById("message")
    let value = input.value
    console.log(value);
    var data = {"pattern": value};
    var dataToString = JSON.stringify(data);
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "http://127.0.0.1:5000/", true);
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState == XMLHttpRequest.DONE) { // XMLHttpRequest.DONE == 4
        if (xmlhttp.status == 200) {
          console.log(xmlhttp.responseText);
        } else if (xmlhttp = 400) {
          alert('There was an error 4.status =00');
        } else {
          alert('something else other than 200 was returned');
        }
      }
    };
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(dataToString);
  }
</script>